extends ./lessonLayout.jade
block contenido
  div(class="row big-top-space")
    div(class="col-md-3 text-left" style="margin-left: 50px")
      h1(class="montserrat big-text") Home 
      h2(class="medium-text") Pick your favourite topic!
      br
      a(href="#math" class="small-text") 1. Math
      br
      br
      a(href="#science" class="small-text") 2. Science
      br
      br
      a(href="#philosophy" class="small-text" ) 3. Philosofy
    div(class="col-md-8 center-block text-center top-space")
  
      //div(class="col-md-8 remove-float center-block text-center big-top-space")
    
      div(id="math")
        //for imagen in imagenes
        h3 Math lessons
          for lesson in lessons
            div(class="img-container")
              if(lesson.topic == "Math")
                a(href="/app/lessons/#{lesson._id}")
                  h2= lesson.title
                img(src="/public/imagenes/#{lesson.title_id}.#{lesson.extension}" class="main-img img-rounded")
                if(typeof lesson.creator != "undefined")
                  h4 By #{lesson.creator.username}
      div(id="science")
        h3 Science lessons
          for lesson in lessons
            div(class="img-container")
              if(lesson.topic == "Science")
                a(href="/app/lessons/#{lesson._id}")
                  h2= lesson.title
                img(src="/public/imagenes/#{lesson.title_id}.#{lesson.extension}" class="main-img img-rounded")
                if(typeof lesson.creator != "undefined")
                  h4 By #{lesson.creator.username}
      div(id="philosophy")
      h3 Philosophy lessons
        for lesson in lessons
          div(class="img-container")
            if(lesson.topic == "Philosophy")
              a(href="/app/lessons/#{lesson._id}")
                h2= lesson.title
              img(src="/public/imagenes/#{lesson.title_id}.#{lesson.extension}" class="main-img img-rounded")
              if(typeof lesson.creator != "undefined")
                h4 By #{lesson.creator.username}   
