extends ./lessonLayout.jade
block contenido
  div(class="col-md-6 remove-float center-block big-top-space")
    h1(class="text-center") Edit your profile
    h2(class="medium-text text-center") Change any of these parameters as you want
    br
    form(action="/app/profile?_method=PUT", method="POST", enctype="multipart/form-data" class="text-center")
      div(class="form-group")
        label(for="email") Email
        input(type="text", name="email",  id="email",
        value="#{user.email}", class="form-control" class="input-width center-block")
      div
        label(for="username") Username
        input(type="text", name="username",  id="username",
        value="#{user.username}", class="form-control" class="input-width center-block")
      br
      div
        label(for="archivo") Avatar
        if(user.title_id != null)
          img(src="/public/imagenes/#{user.title_id}.#{user.extension}" class="img-circle img-navbar")
        input(type="file", name="archivo", id="archivo", class="form-control"
        class="input-width center-block")
      div(class="row top-space")
        div(class="col-md-12")
          input(type="submit" value="Save" class="btn btn-info big-left-space ")
