extends ../lessonLayout.jade
block contenido
  div(class="col-md-8 remove-float center-block big-top-space")
    h1(class="montserrat big-text") Learn & Fun Dashboard
    h2(class="medium-text" style="margin-bottom: 25px") Manage all your lessons easily
    a(href="#math" class="right-space small-text") Math
    a(href="#science" class="right-space small-text") Science
    a(href="#philosophy" class="small-text" ) Philosophy
      
    div(id="math")
      //for imagen in imagenes
      h3 Math lessons
      for lesson in lessons
        if(lesson.topic == "Math")
          .white.border.tr.large-padding
            .row
              .col-md-10
                h2=lesson.title
              .col-md-2
                a(href="/app/lessons/#{lesson._id}/edit", class="right-space") Edit
                form(action="/app/lessons/#{lesson._id}/?_method=DELETE", class="link", method="POST")
                  input(type="submit", id="buttonDelete" value="Delete")
    div(id="science")
      //for imagen in imagenes
      h3 Science lessons
      for lesson in lessons
        if(lesson.topic == "Science")
          .white.border.tr.large-padding
            .row
              .col-md-10
                h2=lesson.title
              .col-md-2
                a(href="/app/lessons/#{lesson._id}/edit", class="right-space") Edit
                form(action="/app/lessons/#{lesson._id}/?_method=DELETE", class="link", method="POST")
                  input(type="submit", id="buttonDelete" value="Delete")
    div(id="philosophy")
      //for imagen in imagenes
      h3 Philosophy lessons
      for lesson in lessons
        if(lesson.topic == "Philosophy")
          .white.border.tr.large-padding
            .row
              .col-md-10
                h2=lesson.title
              .col-md-2
                a(href="/app/lessons/#{lesson._id}/edit", class="right-space") Edit
                form(action="/app/lessons/#{lesson._id}/?_method=DELETE", class="link", method="POST")
                  input(type="submit", id="buttonDelete" value="Delete")    
